.image-gallery__container {
  display: flex;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  /* padding: 10rem; */
  position: relative;
  gap: 3rem;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: -32px;
  /* z-index: 1000; */
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: -32px;
  /* z-index: 1000; */
  cursor: pointer;
}
