.imgcontainer {
  max-width: 40rem;
}

.imgcontainer img {
  max-width: 100%;
  /* transition: 1s all linear; */
}
/* 
/* .side-picture {
  transform: scale(0.7);
} */
*/ .center-picture {
  /* transform: scale(1.2); */
}

/* @keyframes toCenter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
} */
